apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-localfriends
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "https://{{ ghcr_token }}@github.com/thanhnhu/infra.proxmox.k3s.git"
    targetRevision: HEAD # newest pushed branch
    #targetRevision: dev # branch dev
    path: helm/charts/app-localfriends # Path to Helm chart in repo
    helm:
      valueFiles: ["values.yaml"]
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: localfriends
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
  delegate_to: localhost