name: Terraform CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: hashicorp/setup-terraform@v2

      - run: terraform init
        working-directory: terraform/envs/prod

      - run: terraform validate
        working-directory: terraform/envs/prod

      - run: terraform plan
        working-directory: terraform/envs/prod
